* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  max-width: 1920px;
}

/* HEADER */

header nav {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 100px;
  margin-top: 30px;
}

.contato {
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 0px 10px;
}

header nav ul {
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 15px;
}

header nav ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

header nav ul a:hover {
  color: rgb(0, 0, 0);
}

/* MAIN */

.section1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 100vh;
  padding: 0 50px;
}

.left_section1 {
  padding: 200px 0;
  color: #010080;
}

.section1 h1 {
  font-size: 30px;
}

.section1 h2 {
  font-size: 40px;
}

.section1 h3 {
  font-size: 20px;
  margin-top: 5px;
}

#linkedin {
  margin-top: 15px;
}

#retangulo {
  z-index: -1;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

#vinicius {
  height: 700px;
  position: absolute;
  right: 100px;
  bottom: 0;
}

.section2 {
  margin-top: -130px;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  background: linear-gradient(
    90.18deg,
    #1d1d1d 31.74%,
    #1d1d1d 90.49%,
    #1d1d1d 90.49%
  );
}

.section2 h1 {
  font-size: 20px;
  padding-top: 30px;
  padding: 10px 0px;
}

.section2 h2 {
  font-size: 16px;
}

.content {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: justify;
}

.section2 img {
  width: 170px;
}

.section3 {
  min-height: 100vh;
  flex-direction: row;
  padding: 0px 50px;
  justify-content: center;
}

.sobre_title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  max-height: 60px;
  padding: 10px 20px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.section3 h2 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 50px;
  text-align: center;
  word-wrap: break-word;
  width: 600px;
  margin: 0 auto;
}

#separador {
  padding-top: -30px;
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 100px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Professor . Engenheiro" ". Projetista .";
}

.Professor {
  grid-area: Professor;
}

.Engenheiro {
  grid-area: Engenheiro;
}

.Projetista {
  grid-area: Projetista;
}

.icon_sobre {
  position: absolute;
}

.container h1 {
  text-align: left;
  padding: 30px 50px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.container p {
  font-size: 16px;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

#separador1 {
  padding-top: -100px;
  padding: 50px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.habilidades h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 10px 100px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.section4 h2 {
  font-size: 20px;
  padding: 20px 50px;
  padding-top: 40px;
}

#usando_agora {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#programação {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section5 h1 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  max-height: 60px;
  padding: 10px 10px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
}

.container_orange {
  margin-top: 50px;
  background: linear-gradient(0deg, #ff6501, #ff6501);
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.skill_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  text-align: center;
  font-size: 14px;
}

.skill_container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  text-align: center;
  font-size: 14px;
}

.skill_container div {
  height: 180px;
  padding: 30px;
}

.skill_container h1 h2 {
  padding: 50px 0px;
}

@media only screen and (max-width: 750px) {
  .skill_container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    display: block;
    width: 400px;
    margin: 0 auto;
  }
  .skill_container1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills {
    text-align: center;
  }
}

.container_blue {
  background-color: #010080;
  height: 750px;
  padding: 100px;
}

.section6 h1 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  max-height: 60px;
  padding: 10px 10px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 70px;
}

.section6 p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 10px 50px;
  text-align: justify;
  word-wrap: break-word;
  width: 600px;
}

.container_depositions {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 300px;
  text-align: center;
  margin-top: 50px;
}

#aspas_1 {
  padding: 10px 40px;
  display: flex;
}

#aspas_2 {
  padding: 0px 100px;
  margin-left: auto;
  display: flex;
}

#networking {
  height: 250px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#depositions {
  height: 250px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
  background-color: #ff6501;
  height: 300px;
  color: #fff;
}

.footer_text h1 {
  padding: 30px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .section2 {
    flex-direction: column;
  }
  .section2 .content {
    background: url("../imagens/Logo_inclined.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section2 h2 {
    z-index: 1;
  }
  .section2 img {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Professor" "Engenheiro" "Projetista";
  }
  .container_depositions {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "depoimento1" "depoimento2";
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
  }

  .container_depositions p {
    padding: 0px 40px;
    margin: 0 auto;
    width: 320px;
    
  }

  #aspas_1 {
    margin-left: 30px;
  }

  #aspas_2 {
    margin-right: -30px;
  }

  #networking {
    display: none;
  }
  #depositions {
    display: none;
  }
  .skill_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 0px;
  }

  .skill_container h1{
    text-align: center;
    margin: 0 auto;
    width: 300px;
    
  }

  .sobre_title {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .sobre h2 {
    text-align: justify;
    margin: 0 auto;
    width: 300px;
    padding: 10px 40px;
    height: 0px 100px;
  }
  #separador {
    align-items: center;
    margin: 0 auto;
  }
}
