* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* HEADER */

.logo {
  padding-left: 50px;
}

.logo img {
  max-height: 80px;
}

#logoid:hover {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0) 20%
  );
}

header {
  /* position: sticky; */
  top: 0;
  z-index: 1;
}

header nav {
  padding: 10px 0px;
  max-width: 100vw;
  width: 100%;
  text-decoration: none;
  z-index: 6;
}

header nav ul {
  float: right;
  padding-right: 50px;
  z-index: 6;
}

header nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0;
}

/* SE QUISER ALTERAR COR OU TAMANHO DA FONT ALTERE AQUI */

header nav ul li a {
  font-weight: 900;
  font-size: 17px;
  padding: 5px 5px;
  text-decoration: none;
  color: white;
  background: transparent !important;
}

/* ATE AQUI */

header a:hover {
  color: #010080;
  transition: 0.3s;
}

.checkbtn {
  font-size: 30px;
  color: black;
  z-index: 9999;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

/* END HEADER */

#vinicius2 {
  display: none;
}

#retangulo2 {
  display: none;
}

#linkedin3 {
  display: none;
}

@media (max-width: 750px) {
  /* HEADER */
  header nav {
    position: fixed;
    top: 0;
    background-color: white;
  }
  .logo {
    height: 80px;
  }
  .checkbtn {
    display: block !important;
  }
  header nav ul {
    z-index: 6;
  }
  #menu-ul {
    position: absolute;
    display: flex;
    z-index: 6;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 90px;
    left: -100%;
    padding: 0;
    text-align: center;
    transition: all 0.7s;
    /* background-color: #1d1d1d !important; */
    background-color: white;
  }
  header nav ul li {
    display: block;
    margin: 10px 0;
    z-index: 99999;
  }
  header nav ul li a {
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px #1d1d1d;
    font-size: 25px;
    font-weight: bold;
    background: rgb(169, 169, 169, 0);
    padding: 10px;
    z-index: 99999;
  }
  header nav a:hover {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  /* HEADER END */
  a:hover,
  a.nav_link {
    background: none;
  }
  #retangulo {
    display: none;
  }
  #vinicius {
    display: none;
  }
  #linkedin {
    display: none;
  }
  .section1 {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .left_section1 {
    bottom: 0;
    left: 0;
  }
  .section1Titles {
    position: absolute;
    left: 20px;
    z-index: 2;
    bottom: 40px;
  }
  .section1Titles h1 {
    font-size: 20px !important;
    padding: 2px;
  }
  .section1Titles h2 {
    font-size: 25px !important;
    padding: 2px;
  }
  .section1Titles h3 {
    font-size: 15px !important;
    padding: 2px;
  }
  #vinicius2 {
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
  }
  #retangulo2 {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
  }
  #linkedin3 {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 40px;
    right: 15px;
  }
}

section {
  background-size: cover;
}

@media (max-width: 600px) {
  #menu-ul {
    padding: 0 20px;
    z-index: 6;
    
    line-height: 20px;
    word-spacing: 2px;
  }
  #vinicius {
    height: 500px !important;
  }
  .container_depositions {
    max-width: 100vw;
  }
}
@media (max-width: 1280px) {
  #menu-ul {
    padding: 0 20px;
    z-index: 6;
    line-height: 20px;
    word-spacing: 2px;
  }

  #vinicius {
    height: 500px !important;
  }
}
/* MAIN */

.section1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: calc(100vh - 104px);
  padding: 0 50px;
  bottom: 0;
  display: flex;
  margin-top: 0;
}

.left_section1 {
  padding: 200px 0;
  color: #010080;
}

.left_section1 a:hover {
  background-color: transparent;
}

.section1 h1 {
  font-size: 30px;
}

.section1 h2 {
  font-size: 40px;
}

.section1 h3 {
  font-size: 20px;
  margin-top: 5px;
}

#linkedin {
  margin-top: 15px;
}

#retangulo {
  z-index: -1;
  max-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 auto;
}

#vinicius {
  height: 600px;
  position: absolute;
  right: 100px;
  bottom: 0;
  z-index: 1;
}

.section2 {
  margin-top: auto;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  background: linear-gradient(
    90.18deg,
    #1d1d1d 31.74%,
    #1d1d1d 90.49%,
    #1d1d1d 90.49%
  );
}

/*.section2 h1 {
  font-size: 20px;
  padding-top: 30px;
  padding: 10px 0px;
}*/

.section2 h2 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  word-spacing: 2px;
}

.content {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: justify;
}

.section2 img {
  width: 170px;
}

.section3 {
  min-height: 100vh;
  flex-direction: row;
  padding: 0px 10px;
  justify-content: center;
}

.sobre_title h1 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  max-height: 60px;
  padding: 10px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.sobre {
  margin: 0 auto;
  justify-content: center;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.section3 h2 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 50px;
  text-align: center;
  word-wrap: break-word;
  width: 600px;
  text-align: justify;
  margin: 0 auto;
  margin-top: 30px !important;
}

#separador {
  padding-top: -30px;
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 100px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Professor . Engenheiro" ". Projetista .";
}

.Professor {
  grid-area: Professor;
}

.Engenheiro {
  grid-area: Engenheiro;
}

.Projetista {
  grid-area: Projetista;
}

.icon_sobre {
  position: absolute;
}

.container h1 {
  text-align: left;
  padding: 30px 50px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.container p {
  font-size: 16px;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

#separador1 {
  padding-top: -100px;
  padding: 50px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.habilidades h1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px 100px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.skillsh2 {
  font-size: 20px;
  padding: 30px 50px;
  padding-top: 40px;
  font-weight: bolder;
  font-weight: 900;
}

#usando_agora {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#programação {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section5 h1 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  max-height: 60px;
  padding: 10px 10px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
}

.container_orange {
  margin-top: 50px;
  background: linear-gradient(0deg, #ff6501, #ff6501);
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.skill_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px;
  text-align: center;
  font-size: 14px;
}

.skill_container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  text-align: center;
  font-size: 14px;
}

.skill_container div {
  height: 180px;
  padding: 30px;
}

.skill_container h1 h2 {
  padding: 50px 0px;
  font-weight: bold;
}
@media only screen and (max-width: 750px) {
  .skill_container {
    display: block;
  }
  .skill_container div {
    padding: 20px 0px;
  }
  .skill_container1 {
    /*grid-template-columns: repeat(2, 1fr);*/
    display: block;
  }
  .skill_container1 div {
    padding: 20px 0px;
  }
  .skills {
    text-align: center;
  }
  .skill_container1 h1 {
    padding: 10px;
  }
}

.container_blue {
  background-color: #010080;
  height: 750px;
  padding: 100px;
}

.section6 h1 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  max-height: 60px;
  padding: 10px 10px;
  border: 5px solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 70px;
}

.section6 p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 10px 50px;
  text-align: justify;
  word-wrap: break-word;
  width: 600px;
}

.container_depositions {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

#aspas_1 {
  padding: 10px 40px;
  display: none;
}

#aspas_2 {
  padding: 0px 100px;
  margin-left: auto;
  display: none;
}

.depoimento2 p {
  margin-top: 5px;
}

#networking {
  height: 250px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#depositions {
  height: 250px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
  background-color: #ff6501;
  height: 300px;
  color: #fff;
}

.footer_text h1 {
  padding: 30px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #ff6501;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.nav_link,
.dot:hover {
  background-color: #fff;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  .section1 {
    display: flex;
    position: relative;
    max-height: 100%;
  }
  .section2 {
    flex-direction: column;
    z-index: 1;
    padding: 30px;
    margin-top: auto;
  }
  .content {
    display: block;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .section2 .content {
    background: url("../imagens/Logo_inclined.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
  }
  .section2 img {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Professor" "Engenheiro" "Projetista";
  }
  .container_depositions {
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "depoimento1"."depoimento2";*/
    
    margin-top: 50px;
    display: block;
    justify-content: center;
    max-width: 100vw;
  }
  .container_depositions p {
    padding: 0px 40px;
    margin: 0 auto;
    width: 320px;

  }
  #aspas_1 {
    display: none;
  }
  #aspas_2 {
    display: none;
  }
  #networking {
    display: none;
  }
  #depositions {
    display: none;
  }
  .depoimento1 p {
    padding: 10px;
  }
  .depoimento2 p {
    padding: 10px;
  }
  .skill_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 0px;
  }
  .skill_container h1 {
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }
  .sobre_title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sobre h2 {
    width: 300px;
    padding: 15px 30px;
    text-align: justify;
  }
  #separador {
    align-items: center;
    margin: 0 auto;
  }
  .slideshow-container {
    margin: 0 auto;
    /*width: 320px;*/
  }
  .dot {
    display: none;
  }
  .container_blue {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 70px 20px;
    height: auto;
  }
}
